@charset:"UTF-8";

/*--------------------
	common
--------------------*/
body {
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, MS PGothic, sans-serif;
	font-size:12px;
	color:#434343;
	line-height: 1.7em;
	overflow: auto;
	border-top:5px solid #2098dc;
	-webkit-text-size-adjust: 100%;
}
html {
	overflow: auto;
}
* html { /* for IE6 */  overflow: hidden;   overflow-x: auto;   height: 100%;}
body {
	overflow-x: hidden;
	position: relative;
	min-width: 1000px; /* overflow時のbackground対処 */
}
* html body { /* for IE6 */   overflow-y: auto;   height: 100%;}
div.wrap {
	width:1000px;
	margin:0 auto;
	position: relative;
	
}
.cf:after {
	content: "";
	clear: both;
	display: block;
}
.fll { float: left; }
.flr { float: right; }
.tbl { display: table; }
.cell { display: table-cell; }
img {vertical-align: middle;}
a { color:#434343;}
a:hover { text-decoration:none;}
.hide {	display:none;}

/*--------------------
	header
--------------------*/
header {
	width:1000px;
	margin:0 auto;
}
header #head_content {
	text-align:right;
	margin:20px 5px 30px 0;
}
header #head_content p {
	float:left;
}
header .search_box ,
header #head_content li ,
header #head_content ul {
	display:inline-block;
	*display: inline;
	*zoom: 1;
}
header #head_content ul {
	margin-right:20px;
}
header #head_content li {
	margin:0 3px;
}
header #head_content .changeBtn { cursor:pointer;}
header .search_box input[type="search"] {
	width:200px;
	font-size:11px;
	line-height:20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	padding:0px 3px;
	border:1px solid #7d7d7d;
}
header .search_box input[type="submit"] {
	width:17px;
	height:20px;
	background: url("../images/common/img_search.png") no-repeat left center;
	text-indent:-9999px;
	background-color:transparent;
	border:none;
	cursor:pointer;
	margin:0 0 0 5px;
}
header #header h1 {	float:left;}
header #header ul {
	width:455px;
	text-align:right;
	float:left;
	margin:15px 0;
}
header #header li:first-child { border-left:none;}
header #header li {
	display:inline-block;
	*display: inline;
	*zoom: 1;
	padding:0 20px;
	border-left:1px solid #a0a0a0;
}
header #header p {	float:right;}
header nav {
	margin:35px 0;
}
header nav li:first-child { border-left:1px solid #a0a0a0;}
header nav li {
	display:table-cell;
	*display:inline;
	*zoom:1;
	border-right:1px solid #a0a0a0;
}
header nav li:first-child img { padding-right:27px;}
header nav li a img {
	padding:0 25px;
}
/*--------------------
	content
--------------------*/
#main_image { margin:0 0 35px 0;}
#main_image ul {	margin-bottom:15px;}
#main_image li {
	float:left;
	position:relative;
	padding-right:25px;
	margin-right:10px;
	font-size:13px;
}
#main_image a { text-decoration:none;}
#main_image a:hover { text-decoration:underline;}
#main_image li:last-child:after {	content: " ";}
#main_image li:after {
	content: ">";
	width:13px;
	height:13px;
	font-size:15px;
	position:absolute;
	right:0px;
	top:-0.1em;
}
#main_image h2 {
	position: relative;
	margin: 0 -510%;
  padding: 0 500%;
	zoom: 1;
}
#content {	margin: 0 auto;}
.content section.fll {
	width:220px;
	padding-bottom:30px;
	margin:0 20px 30px 0;
}
.content section.fll .side_navi { margin-bottom:50px;}
.content section.fll .side_navi li {
	font-size:14px;
	margin:10px 0 10px 20px;
	padding-left:25px;
	position:relative;
}
.content section.fll .side_navi li:not(.btn_arrow) a:after {
	content: " ";
	width:4px;
	height:4px;
	background:#434343;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	position:absolute;
	left:-10px;
	top:0.4em;
}
.content section.fll .side_navi li.on:not(.btn_arrow) a:after,
.content section.fll .side_navi li.on:not(.btn_arrow) a:hover:after {
	background:#2098dc;
}
.content section.fll .side_navi li.btn_arrow {
	margin:20px 0;
	padding-left:22px;
}
.content section.fll .side_navi li a {
	text-decoration:none;
	position:relative;
}
.content section.fll .side_navi li.btn_arrow a:after {
	content: " ";
	width:13px;
	height:13px;
	position:absolute;
	left:-22px;
	top:0.2em;
	background: url("../images/common/ico_footerarrow.png") no-repeat left center;
}
.content section.fll .side_navi li.on a,
.content section.fll .side_navi li a:hover {
	color:#2098dc;
	border-bottom:1px solid #2098dc;
}
.content section.fll .side_navi li.on a:after,
.content section.fll .side_navi li a:hover:after {
	background: url("../images/common/ico_arrow_on.png") no-repeat left center;
}
.content section.fll .side_bunnar li { margin-bottom:10px;}
.content section.flr {
	width:690px;
	border-left:1px solid #d5d3d3;
	padding:0 20px 30px 35px;
	margin-bottom:30px;
}

.content section.flr h3 {
	font-size:22px;
	letter-spacing:0.05em;
	border-bottom:3px solid #2098dc;
	padding-bottom:10px;
	margin-bottom:40px;
}
/*--------------------
	footer
--------------------*/
footer {
	position: relative;
	margin: 0 -500%;
  padding: 0 500%;
	zoom: 1;
	background:#d4d3d3;
}
footer .btn_totop { text-align:right;}
footer dl {
	width:100%;
	display:table;
	margin:25px 0 55px;
}
footer dt {
	padding:20px 0 5px;
	width:245px;
	display:table-cell;
	*display:inline;
	*zoom:1;
	border-right:1px solid #595a5a;
	padding-right:15px;
}
footer h2 {
	font-size:120%;
	margin-bottom:20px;
}
footer h3 {
	font-size:110%;
}
footer dt p {
	margin-bottom:25px;
}
footer dd {
	width:710px;
	display:table-cell;
	*display:inline;
	*zoom:1;
	padding-left:50px;
}
footer dd div {
	display:table-cell;
	*display:inline;
	*zoom:1;
	padding-right:80px;
}
footer dd ul:first-child { margin-bottom:40px;}
footer dd .map_last ul li { margin-bottom:25px;}
footer dd li.btn_arrow {
	font-size:115%;
	margin-bottom:10px;
}
footer dd li.btn_arrow:after {
	content: " ";
	width:13px;
	height:13px;
	position:absolute;
	left:0px;
	top:0.4em;
	background: url("../images/common/ico_footerarrow.png") no-repeat left top;
}
footer dd li {
	padding-left:25px;
	line-height:24px;
	position:relative;
}
footer dd li:not(.btn_arrow):after {
	content: " ";
	width:4px;
	height:4px;
	background:#434343;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	position:absolute;
	left:10px;
	top:0.8em;
}
footer dd li.btn_under {	padding-left:45px;}
footer dd li.btn_under:after { left:28px;}
footer dd a { text-decoration:none;}
footer dd a:hover {	text-decoration:underline;}
footer .copy {
	text-align: center;
	font-size: 13px;
	padding-bottom:35px;
}