@charset:"UTF-8";
/* ここからメインビジュアル */
#main_v {
	max-width:1000px;
	margin:0 auto;
	overflow:hidden;
	height:386px;
}
#main_v li {
	display:none;
	float:left;
	width:33.2%;
	height:380px;
	overflow:hidden;
	border-left: 1px solid #d3d3d3;
}
#main_v li:first-child {
	border-left: none;
}
#main_v .sl_01 {
	background:url("../images/index/main_v01.jpg") no-repeat center top;
	border-top: 6px solid #85c193;
	border-radius: 5px 0 0 5px;
}
#main_v .sl_02 {
	background:url("../images/index/main_v02.jpg") no-repeat center top;
	border-top: 6px solid #f3a4a6;
}
#main_v .sl_03 {
	background:url("../images/index/main_v03.jpg") no-repeat center top;
	border-top: 6px solid #f3c378;
	border-radius: 0 5px 5px 0;
}
#main_v li div {
	width: 100%;
	display:none;
	color: #fff;
	font-size: 16px;
}
#main_v .sl_01 div {
	background: url("../images/index/main_v01_ov.png") no-repeat center top;
	text-align: left;
	padding-top: 150px;
	height: 230px;
}
#main_v .sl_02 div {
	background: url("../images/index/main_v02_ov.png") no-repeat center top;
	text-align: left;
	padding-top: 150px;
	height: 230px;
}
#main_v .sl_03 div {
	background: url("../images/index/main_v03_ov.png") no-repeat center top;
	text-align: left;
	padding-top: 115px;
	height: 265px;
}
#main_v li div p {
	line-height: 2em;
}
#main_v div a {
	display: block;
	border: 2px solid #fff;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
}
#main_v .sl_01 a {
	padding: 27px 0;
	width: 220px;
	margin-bottom: 20px;
}
#main_v .sl_01 a:hover {
	background: #fff;
	color: #539362;
}
#main_v .sl_02 a {
	padding: 27px 0;
	width: 240px;
	margin-bottom: 20px;
}
#main_v .sl_02 a:hover {
	background: #fff;
	color: #b5655f;
}
#main_v .sl_03 a {
	padding: 10px 0;
	width: 240px;
	margin-bottom: 8px;
}
#main_v .sl_03 a:hover {
	background: #fff;
	color: #bd8c3f;
}
/* ここからトップ */
.index_content {
	padding:30px 0 60px;
}
.index_content .fll {
	width:700px;
}
.index_content .fll h2 {
	width:641px;
	font-size:16px;
	letter-spacing:0.05em;
	line-height:2.8em;
	position:relative;
	padding-left:55px;
	margin-bottom:15px;
	background: url("../images/index/img_line.jpg") no-repeat left bottom;
}
.index_content .fll h2:after {
	content: " ";
	width:24px;
	height:24px;
	position:absolute;
	left:18px;
}
.index_content .fll .info_area h2:after {
	background: url("../images/index/ico_info.jpg") no-repeat left top;
	top:25%;
}
.index_content .fll .schedule_area h2:after {
	background: url("../images/index/ico_schedule.jpg") no-repeat left top;
	top:25%;
}
.index_content .fll .news_area h2:after {
	background: url("../images/index/ico_news.jpg") no-repeat left top;
	top:25%;
}
.index_content .fll h2 span {
	display:block;
	float:right;
}
.index_content .fll h2 span a {
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	color:#2b86be;
	letter-spacing:0;
	padding:5px 10px;
	border:1px solid #2b86be;
}
.index_content .menu_area { margin-bottom:45px;}
.index_content .menu_area li:first-child { margin-left:0;}
.index_content .menu_area li {
	width:129px;
	height:60px;
	display:inline-block;
	*display: inline;
	*zoom: 1;
	margin-left:8px;
	vertical-align:top;
}
.index_content .menu_area .menu_riha a {
	font-size:14px;
	padding:11px 6px 12px 36px;
}
.index_content .menu_area a {
	display:block;
	width:90px;
	height:40px;
	position:relative;
	color:#278ecb;
	font-weight:bold;
	font-size:16px;
	letter-spacing:0.02em;
	text-decoration:none;
	background:#fff;
	border:1px solid #278ecb;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	padding:22px 0 0 40px;
}
.index_content .menu_area span {
	position:absolute;
	left:13px;
	top:20px;
	font-size:14px;
}
.index_content .fll dt ,
.index_content .fll dd {
	display:inline-block;
	*display: inline;
	*zoom: 1;
	margin-bottom:15px;
}
.index_content .fll dt {
	width:100px;
	padding:0 5px 0 20px;
	vertical-align:top;
}
.index_content .fll dd {
	width:550px;
	font-size:120%;
	padding-right:20px;
	vertical-align:top;
}
.index_content .fll .info_area ,
.index_content .fll .schedule_area ,
.index_content .fll .news_area {
	margin-bottom:30px;
}
.index_content .kakuka_tab {
	margin:0 0 7px 20px;
}
.index_content .kakuka_tab li:first-child {
	margin-left:0;
}
.index_content .kakuka_tab li {
	background:#adafaf;
	color:#fff;
	font-size:13px;
	letter-spacing:0.05em;
	float:left;
	cursor:pointer;
	text-align:center;
	padding:4px 15px 4px 26px;
	margin-left:8px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	position: relative;
}
.index_content .kakuka_tab li:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 4px solid transparent;
    border-left-color: #fff;
    top: 35%;
    left: 14px;
}
.index_content .kakuka_tab li.select {
	background:#278ecb;
}
.index_content .kakuka_tab li.select:before {
    border: 4px solid transparent;
    border-top-color: #fff;
    top: 45%;
    left: 10px;
}
.index_content .fll .schedule_area table {
	width:676px;
	margin-left:20px;
}
.index_content .fll .schedule_area th:first-child ,
.index_content .fll .schedule_area td:first-child {
	width:130px;
	border-left:none;
}
.index_content .fll .schedule_area th {
	font-size:120%;
	font-weight:normal;
	background:#d9ecf8;
	text-align:center;
	border-left:1px dotted #9f9f9f;
	border-top:1px solid #9f9f9f;
	border-bottom:1px solid #9f9f9f;
	vertical-align:middle;
	padding:7px 0;
}
.index_content .fll .schedule_area th.txt_min {
	font-size:100%;
	line-height:1.3em;
	text-align:left;
	padding-left:20px;
	padding-right:20px;
}
.index_content .fll .schedule_area td {
	width:70px;
	font-size:130%;
	background:#fffef7;
	text-align:center;
	border-left:1px dotted #9f9f9f;
	border-bottom:1px solid #9f9f9f;
	padding:18px 5px;
	vertical-align:middle;
}

.index_content .flr {
	width:270px;
}
.index_content .flr dl {
	border:1px solid #aecee3;
	margin-bottom:15px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}
.index_content .flr dt {
	font-size:16px;
	letter-spacing:0.05em;
	font-weight:bold;
	background:#aecee3;
	padding:8px 15px;
}
.index_content .flr dd {
	padding:0 10px 0 15px;
}
.index_content .flr dd h3 {
	font-size:16px;
	letter-spacing:0.05em;
	border-left:6px solid #278ecb;
	padding-left:8px;
	margin:15px 0 10px;
}
.index_content .flr dd p {
	font-size:120%;
	line-height:1.7em;
	margin-bottom:5px;
}
.index_content .flr dd p.txt_min {
	font-size:100%;
	margin-bottom:5px;
}
.index_content .flr ul li {	margin-bottom:10px;}


/* 診療科目のご紹介 */
.medical_page {
}
.medical_page dl {
}
.medical_page dt {
	width:240px;
	float:left;
}
.medical_page dt img { border:1px solid #bfbfbf;}
.medical_page dd {
	width:420px;
	float:right;
}
.medical_page h4 {
	font-size:140%;
	letter-spacing:0.05em;
	position:relative;
	padding-left:0.5em;
	margin-bottom:10px;
	line-height:1.1em;
	border-left:1.1em solid #2098dc;
}
.medical_page h4:after {
}
.medical_page p:not(.btn_detail) {
	font-size:120%;
	line-height:1.7em;
	margin-bottom:25px;
}
.medical_page p.btn_detail {
}
.medical_page p.btn_detail a {
	font-size:130%;
	text-decoration:none;
	border:1px solid #bfbfbf;
	background:#fff;
	letter-spacing:0.01em;
	padding:5px 40px;
}
.medical_page hr {
	width:660px;
	margin:40px auto;
	height:1px;
	border:none;
	border-bottom:1px solid #bfbfbf;
}

/* 診療科目 下層 */
.medical_detail_page {
}
.medical_detail_page h4 {
	font-size:150%;
	padding-left:10px;
	margin-bottom:20px;
	border-left:6px solid #2098dc;
	line-height:1em;
}
.medical_detail_page p {
	font-size:140%;
	line-height:1.8em;
}
.medical_detail_page>p { margin:-20px 0 60px;}
.medical_detail_page dt {	float:left;}
.medical_detail_page > dl dt img ,
.medical_detail_page table dt img { border:1px solid #bfbfbf;}
.medical_detail_page dd {	float:right;}
.medical_detail_page > dl {	margin-bottom:60px;}
.medical_detail_page > dl dt { width:280px;}
.medical_detail_page > dl dd { width:400px;}
.medical_detail_page li dt { width:310px;}
.medical_detail_page li dd { width:355px;}
.medical_detail_page .mediacal_tantoi { margin-bottom:60px;}
.medical_detail_page .mediacal_tantoi td {	width:340px; vertical-align:top;}
.medical_detail_page .mediacal_tantoi dt {
	width:130px;
	padding-right:15px;
}
.medical_detail_page hr {
	width:655px;
	border:none;
	border-top:1px solid #bfbfbf;
	margin:40px auto;
}
.medical_detail_page li {
	margin-bottom:50px;
}
.medical_detail_page li h5 {
	font-size:150%;
	line-height:1.8em;
	border-bottom:1px solid #bfbfbf;
	padding-bottom:5px;
	margin:0 0 10px;
}
.medical_detail_page li p {
	font-size:120%;
}
.medical_detail_page .mediacal_tantoi dt img { max-width:130px;}
.medical_detail_page .mediacal_tantoi dd {
	width:190px;
}
.medical_detail_page .mediacal_tantoi dd h5 {
	font-size:155%;
	margin-bottom:10px;
}
.medical_detail_page .mediacal_tantoi dd h6 {
	font-size:110%;
	margin:5px 0;
}
.medical_detail_page .mediacal_tantoi dd p { font-size:100%;}
.medical_detail_page table:not(.mediacal_tantoi) {
	width:680px;
	margin:0 0 40px;
}
.medical_detail_page table:not(.mediacal_tantoi) th:first-child ,
.medical_detail_page table:not(.mediacal_tantoi) td:first-child {
	width:120px;
	text-align:left;
	border-left:none;
	padding-left:25px;
}
.medical_detail_page table:not(.mediacal_tantoi) th {
	font-size:120%;
	font-weight:normal;
	background:#d9ecf8;
	text-align:center;
	border-left:1px dotted #9f9f9f;
	border-top:1px solid #9f9f9f;
	border-bottom:1px solid #9f9f9f;
	vertical-align:middle;
	padding:7px 0;
}
.medical_detail_page table:not(.mediacal_tantoi) td {
	width:70px;
	font-size:130%;
	background:#fffef7;
	text-align:center;
	border-left:1px dotted #9f9f9f;
	border-bottom:1px solid #9f9f9f;
	padding:18px 5px;
	vertical-align:middle;
}

/* 通所リハビリ */
.tsusho_page > h4 {
	font-size:150%;
	padding-left:10px;
	margin-bottom:20px;
	border-left:6px solid #2098dc;
	line-height:1em;
}
.tsusho_page > p {
	font-size:120%;
	line-height:1.8em;
	margin-bottom:60px;
}
.tsusho_page ul {	margin:-40px 0 60px;}
.tsusho_page table {
	width:640px;
	margin:10px 0 30px 10px;
}
.tsusho_page table .day_1 th {	background: url("../images/outpatient/img_tsusho1.png") no-repeat 23px top;}
.tsusho_page table .day_2 th {	background: url("../images/outpatient/img_tsusho2.png") no-repeat 20px top;}
.tsusho_page table .day_3 th {	background: url("../images/outpatient/img_tsusho3.png") no-repeat 23px top;}
.tsusho_page table th { height:165px;}
.tsusho_page table td {
	width:220px;
	padding-bottom:30px;
}
.tsusho_page table td h5 {
	color:#2098dc;
	font-size:140%;
	text-align:center;
	text-decoration:underline;
	margin-bottom:15px;
}
.tsusho_page table td p {
	width:180px;
	font-size:120%;
	line-height:1.8em;
	text-indent:-1em;
	padding-left:1em;
	margin:0 auto;
}
.tsusho_page .p_day {
	width:590px;
	font-weight:bold;
	text-indent:-1em;
	padding-left:1em;
	margin:0;
	margin-left:15px;
}
.tsusho_page .contact_area {	margin-top:40px;}


/* ここからごあいさつ */
.greeting_page table {
	width:100%;
	margin-bottom:200px;
}
.greeting_page th {
	width:160px;
	padding-right:40px;
	text-align:center;
	vertical-align:top;
}
.greeting_page th img {
	border:1px solid #9fa0a0;
}
.greeting_page th p {
	font-size:140%;
	line-height:2em;
	margin:15px 0;
}
.greeting_page th span {
	font-size:90%;
}
.greeting_page td {
	width:490px;
	vertical-align:top;
	font-size:120%;
	line-height:1.8em;
}

/* 基本理念 */
.rinen_page h4 {
	font-size: 173%;
	text-align:center;
	margin: 52px 0 18px;
}
.rinen_page p {
	font-size: 19px;
	line-height: 1.8em;
	margin-bottom: 34px;
}


/* 施設紹介 */
.shisetsu_page {
}
.shisetsu_page dl {
	margin:0 0 50px;
}
.shisetsu_page dt {
	width:325px;
	float:left;
}
.shisetsu_page dd {
	width:360px;
	float:right;
}
.shisetsu_page dd h5 {
	font-size:150%;
	margin-bottom:13px;
	padding-bottom:10px;
	border-bottom:1px solid #9fa0a0;
}
.shisetsu_page dd p.cat { margin-bottom:15px;}
.shisetsu_page dd p.cat span {
	color:#fff;
	font-size:80%;
	line-height:2.5em;
	background:#2098dc;
	padding:5px 12px;
	margin-right:5px;
}
.shisetsu_page dd p {
	font-size:120%;
	line-height:1.7em;
}




/* アクセス */
.access_page iframe {
	border:1px solid #bfbfbf;
}
.access_page table {
	width:685px;
	margin:30px 0 50px;
}
.access_page table th ,
.access_page table td {
	text-align:left;
	padding:7px 0;
	vertical-align:top;
}
.access_page table th {
	width:105px;
	font-size:120%;
}
.access_page table td {
	width:580px;
	font-size:120%;
}
.access_page dl {
	margin-bottom:90px;
}
.access_page dd:first-child {
	margin-right:50px;
}
.access_page dd {
	width:315px;
	float:left;
}
.access_page dd:first-child h4 {
	padding-left:40px;
}
.access_page dd h4 {
	font-size:130%;
	color:#2098dc;
	position:relative;
	margin-bottom:15px;
	padding-left:55px;
}
.access_page dd h4:after {
	content: " ";
	height:24px;
	position:absolute;
	left:0;
}
.access_page dd:first-child h4:after {
	width:30px;
	background: url("../images/outline/ico_car.png") no-repeat center center;
}
.access_page dd h4:after {
	width:41px;
	background: url("../images/outline/ico_bus.png") no-repeat center center;
}

.access_page dd p {
	font-size:120%;
	line-height:1.7em;
}
.access_page dd p.flr {
	width:185px;
	margin-bottom:10px;
}
.access_page dd p.txt_color {
	font-size:130%;
	color:#2098dc;
	font-weight:bold;
}
.access_page dd strong { font-weight:bold;}
section .contact_area {
	font-size:120%;
	line-height:1.5em;
	background:#fff;
	text-align:center;
	border:1px solid #9fa0a0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	padding:20px;
}
section .contact_area h4 {
	font-size:130%;
	letter-spacing:0.05em;
	margin-bottom:15px;
}
section .contact_area img {	margin:15px 0;}

/* 病院概要 */
.detail_page table {
	width:690px;
	margin:30px 0 40px;
}
.detail_page table tr:first-child th ,
.detail_page table tr:first-child td {	border-top:none;}
.detail_page table th ,
.detail_page table td {
	font-size:120%;
	text-align:left;
	line-height:2.5em;
	vertical-align:middle;
	border-top:1px solid #9fa0a0;
	padding:9px 0;
}
.detail_page table th { width:135px;}
.detail_page table td { width:550px;}

/* 医師紹介 */
.doctor_page {
}
.doctor_page h4 {
	font-weight:normal;
	font-size:160%;
	letter-spacing:0.05em;
	margin-bottom:25px;
}
.doctor_page dl {
	margin:0 0 45px;
}
.doctor_page dt {
	width:160px;
	float:left;
}
.doctor_page dt img { border:1px solid #bfbfbf;}
.doctor_page dd {
	width:500px;
	float:right;
}
.doctor_page dd h5 {
	font-size:150%;
	margin-bottom:25px;
}
.doctor_page dd table {
	margin-bottom:30px;
}
.doctor_page dd td:first-child {
	width:200px;
	border-right:1px solid #bfbfbf;
	padding:0 10px 0 0;
}
.doctor_page dd td.td_1 {
	width:100%;
	border-right:none;
	padding:0;
}
.doctor_page dd td {
	width:230px;
	padding:0 10px 0 15px;
}
.doctor_page dd h6 {
	font-size:120%;
	margin-bottom:5px;
}
.doctor_page dd p {
	font-size:120%;
	line-height:1.7em;
}
.doctor_page hr {
	margin-bottom:45px;
	height:1px;
	border:none;
	border-bottom:1px solid #bfbfbf;
}

/* 診療時間・受付について */
.hours_page h3 {	margin-bottom:25px !important;}
.hours_page p {	font-size:120%;}
.hours_page .kakuka_tab {
	width:690px;
	margin-bottom:20px;
	padding:25px 0 0 20px;
	border-bottom:3px solid #278ecb;
}
.hours_page .kakuka_tab li:last-child {
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-o-border-radius: 0 5px 0 0;
	-ms-border-radius: 0 5px 0 0;
	padding:12px 30px 12px 30px;
}
.hours_page .kakuka_tab li:first-child {
	margin-left:0;
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-o-border-radius: 5px 0 0 0;
	-ms-border-radius: 5px 0 0 0;
	border-left:1px solid;
}
.hours_page .kakuka_tab li {
	background:#fff;
	font-weight:bold;
	color:#000;
	font-size:13px;
	letter-spacing:0.05em;
	float:left;
	cursor:pointer;
	text-align:center;
	padding:12px 35px 12px 35px;
	border:1px solid #9f9f9f;
	border-left:none;
	border-bottom:none;
}
.hours_page .kakuka_tab li.select {
	background:#278ecb;
	border:1px solid #278ecb;
	border-bottom:none;
	color:#fff;
}
.hours_page .area_content h5 {
	font-size:150%;
	letter-spacing:0.05em;
	font-weight:bold;
	margin:0 0 20px 20px;
}
.hours_page .area_content p {
	font-size:120%;
	margin:15px 0 0 20px;
}
.hours_page table {
	width:676px;
	margin-left:20px;
}
.hours_page th:first-child ,
.hours_page td:first-child {
	width:120px;
	text-align:left;
	border-left:none;
	padding-left:25px;
}
.hours_page th {
	font-size:120%;
	font-weight:normal;
	background:#d9ecf8;
	text-align:center;
	border-left:1px dotted #9f9f9f;
	border-top:1px solid #9f9f9f;
	border-bottom:1px solid #9f9f9f;
	vertical-align:middle;
	padding:7px 0;
}
.hours_page th.txt_min {
	font-size:100%;
	line-height:1.3em;
	text-align:left;
	padding-left:20px;
	padding-right:20px;
}
.hours_page td {
	width:70px;
	font-size:130%;
	background:#fffef7;
	text-align:center;
	border-left:1px dotted #9f9f9f;
	border-bottom:1px solid #9f9f9f;
	padding:18px 5px;
	vertical-align:middle;
}
.hours_page .btn_area {
	width:680px;
	margin:50px 0 40px 20px;
}


/* 入院のご案内 */
.guide_page>h4 {
	font-size:140%;
	line-height:1em;
	padding-left:10px;
	border-left:6px solid #2098dc;
	margin:0 0 20px;
}
.guide_page ul { margin-bottom:70px;}
.guide_page li {	margin-bottom:40px;}
.guide_page dt {
	width:130px;
	font-size:120%;
	font-weight:bold;
	letter-spacing:0.03em;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	background:#aecee3;
	border-right:10px solid #fff;
	padding-top:10px;
	position:relative;
}
.guide_page dt:after {
	content:'';
	position:absolute;
	left:0;
	bottom:-50px;
	border-top:solid 25px #aecee3;
	border-bottom:solid 25px transparent;
	border-right:solid 65px transparent ;
	border-left:solid 65px transparent;
}
.guide_page .li_last dt:after {	border:none;}
.guide_page dd {
	width:520px;
	font-size:120%;
	line-height:1.6em;
	vertical-align:middle;
	display:table-cell;
	border:1px solid #9f9f9f;
	padding:15px;
}
.guide_page dd span {	font-size:70%;}
.guide_page dd strong {	font-weight:bold;}

.guide_page>div {
	font-size:120%;
	line-height:1.8em;
	border:1px solid #9f9f9f;
	padding:20px;
	margin-bottom:40px;
}
.guide_page p {
	font-size:120%;
	margin-left:1.3em;
	margin-bottom:10px;
}
.guide_page>div strong { text-decoration:underline; font-weight:bold;}
.guide_page>div span { font-size:80%;}


/* 居宅介護支援事業所 */
.shien_page>h4 {
	font-size:140%;
	line-height:1em;
	padding-left:10px;
	border-left:6px solid #2098dc;
	margin:0 0 20px;
}
.shien_page dl { margin-bottom:30px;}
.shien_page dt {
	width:280px;
	float:left;
}
.shien_page dt img { border:1px solid #9f9f9f;}
.shien_page dd {
	width:410px;
	font-size:135%;
	line-height:2em;
	float:right;
}
.shien_page dd span {
	font-weight:bold;
	color:#2098dc;
}
.shien_page .list_shien {
	padding:20px;
	font-size:120%;
	line-height:2em;
	border:1px solid #9f9f9f;
	margin-bottom:30px;
}
.shien_page .list_shien h5 { color:#2098dc;}
.shien_page .table_toha { margin-bottom:60px;}
.shien_page .table_toha td {	vertical-align:top;}
.shien_page .table_toha .shien_1 {
	width:355px;
	height:385px;
	padding-bottom:20px;
	background: url("../images/outline/bg_shien1.jpg") no-repeat left top;
}
.shien_page .table_toha .shien_2 {
	width:334px;
	padding-bottom:20px;
	background: url("../images/outline/bg_shien2.jpg") no-repeat left top;
}
.shien_page .table_toha .shien_3 {
	height:350px;
	background: url("../images/outline/bg_shien3.jpg") no-repeat left top;
}
.shien_page .table_toha .shien_4 {
	background: url("../images/outline/bg_shien4.jpg") no-repeat left top;
}
.shien_page .table_toha h5 {
	width:275px;
	font-size:15px;
	font-weight:bold;
}
.shien_page .table_toha .shien_1 h5 {
	line-height:1.8em;
	padding:100px 0 25px 28px;
}
.shien_page .table_toha .shien_2 h5 {
	line-height:1.6em;
	padding:90px 0 20px 28px;
}
.shien_page .table_toha .shien_2 ul { padding-top:18px;}
.shien_page .table_toha .shien_3 h5 {
	font-size:14px;
	line-height:1.8em;
	padding:100px 0 25px 28px;
}
.shien_page .table_toha .shien_4 h5 {
	line-height:1.8em;
	padding:100px 0 17px 28px;
}
.shien_page .table_toha .shien_3 ul ,
.shien_page .table_toha .shien_4 ul { padding-top:15px;}
.shien_page .table_toha ul {
	width:275px;
	border-top: 2px solid #e5e8dd;
	padding-top:23px;
	margin:0 0 0 30px;
}
.shien_page .table_toha li {
	font-size:13px;
	line-height:1.6em;
	text-indent:-1em;
	padding-left:1em;
}
.shien_page .table_senta1 {
	width:100%;
	margin:30px 0 30px;
}
.shien_page .table_senta2 {
	width:100%;
	margin:60px 0 80px;
}
.shien_page .table_senta1 th ,
.shien_page .table_senta2 th ,
.shien_page .table_senta1 td ,
.shien_page .table_senta2 td {
	font-size:110%;
	text-align:left;
	vertical-align:middle;
	min-height:1.5em;
}
.shien_page .table_senta1 th ,
.shien_page .table_senta2 th {
	font-weight:bold;
	padding-bottom:5px;
}
.shien_page .table_senta1 th span {
	font-weight:normal;
	font-size:100%;
}
.shien_page .table_senta1 td ,
.shien_page .table_senta2 td {
	padding:10px 0;
}
.shien_page .table_senta2 th ,
.shien_page .table_senta2 td {
	padding:15px 0;
}
.shien_page .table_senta1 tr:first-child ,
.shien_page .table_senta2 tr:first-child { border-top:none;}
.shien_page .table_senta2 tr:last-child {	border-bottom:1px solid #a0a0a0;}
.shien_page .table_senta1 tr ,
.shien_page .table_senta2 tr {	border-top:1px solid #a0a0a0;}
.shien_page .table_senta1 .shien_1 { width:115px;}
.shien_page .table_senta1 .shien_2 { width:160px;}
.shien_page .table_senta1 .shien_3 { width:215px;}
.shien_page .table_senta1 .shien_4 { width:115px;}
.shien_page .table_senta1 .shien_5 { width:85px;}
.shien_page .table_senta2 .shien_1 { width:225px;}
.shien_page .table_senta2 .shien_2 { width:160px;}
.shien_page .table_senta2 .shien_3 { width:135px;}
.shien_page .table_senta2 .shien_4 { width:170px;}
.shien_page {
}
.shien_page >p {
	font-size:120%;
	line-height:1.7em;
}


/* お問い合わせ */
.contact_page>h4 {
	font-size:140%;
	line-height:1em;
	padding-left:10px;
	border-left:6px solid #2098dc;
	margin:-15px 0 20px;
}
.contact_page ul { margin-bottom:60px;}
.contact_page li {
	font-size:120%;
	line-height:1.8em;
	text-indent:-1em;
	padding-left:1em;
}
.contact_page table {	margin:0 0 60px 10px;}
.contact_page th ,
.contact_page td {
	font-size:120%;
	vertical-align:top;
	padding-bottom:25px;
}
.contact_page th {
	width:200px;
	font-weight:normal;
	text-align:left;
}
.contact_page th span {
	color:#ff0000;
	font-size:120%;
	padding-left:5px;
}
.contact_page td {
	width:500px;
	line-height:1.8em;
}
.contact_page td p span {
	color:#ff0000;
}
.contact_page td input {
	line-height:1.8em;
}
.contact_page td.box_s input[type="text"] {
	width:70px;
	margin:0 12px;
}
.contact_page td.box_s input[type="text"]:first-child { margin-left:0;}
.contact_page td.box_m input[type="text"] {
	width:140px;
	margin:0 20px 0 5px;
}
.contact_page td.box_l input[type="text"] {
	width:300px;
	margin-right:15px;
}
.contact_page td input[type="radio"] { margin-right:10px;}
.contact_page td label {	margin-right:40px;}
.contact_page td textarea {
	width:500px;
	height:200px;
	line-height:2em;
	padding:5px;
	margin-bottom:15px;
}
.contact_page input[type="submit"] {
	cursor:pointer;
	color:#fff;
	font-size:140%;
	letter-spacing:0.06em;
	width:160px;
	height:50px;
	border:none;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}
.contact_page input[name="submitBack"] {
	background:#9fa0a0;
	margin-right:20px;
}
.contact_page input[name="submitConfirm"],
.contact_page input[name="submitButton"] {
	background:#2098dc;
}


/* 採用情報 */
.recruit_page > h4 {
	font-size:140%;
	line-height:1em;
	padding-left:10px;
	border-left:6px solid #2098dc;
	margin:-20px 0 20px;
}
.recruit_page ul {	margin-bottom:30px;}
.recruit_page > p {
	font-size:120%;
	line-height:1.8em;
	border:1px solid #9fa0a0;
	padding:20px;
	margin-bottom:45px;
}



/* 個人情報保護方針 */
.privacy_page div {
	border:1px solid #9fa0a0;
	padding:20px;
}
.privacy_page div p {
	font-size:120%;
	line-height:1.8em;
	margin-bottom:30px;
}
.privacy_page div h4 {
	font-size:120%;
	line-height:1.8em;
}

/* サイトマップ */
.sitemap_page dd {
	width:330px;
	float:left;
}
.sitemap_page ul {	margin-bottom:30px;}
.sitemap_page li {
	font-size:120%;
	position:relative;
	padding-left:25px;
	line-height:1.9em;
}
.sitemap_page li.btn_arrow {	margin-bottom:10px;}
.sitemap_page li.btn_arrow:after {
	content: " ";
	width:13px;
	height:13px;
	position:absolute;
	left:0px;
	top:0.4em;
	background: url("../images/common/ico_arrow_on.png") no-repeat left top;
}
.sitemap_page li:not(.btn_arrow) { padding-left:2.8em;}
.sitemap_page li:not(.btn_arrow):after {
	content: "→";
	position:absolute;
	left:1.6em;
	top:0;
}
.sitemap_page li.btn_under { padding-left:5.8em;}
.sitemap_page li.btn_under:after {
	left:4.6em;
}
.sitemap_page a { text-decoration:none;}
.sitemap_page a:hover { text-decoration:underline;}




/* アーカイブ */
.archive_page {	min-height:400px;}
.archive_page .news_list li:first-child {
	border-top:none;
	padding-top:0;
}
.archive_page .news_list li {
	margin-top:20px;
	padding-top:20px;
	border-top:1px solid #bfbfbf;
}
.archive_page .news_list span {
	width:100px;
	font-size:100%;
	float:left;
}
.archive_page .news_list a {
	font-size:110%;
	width:550px;
	display:inline-block;
	float:right;
}

/* 記事 */
.single_page { min-height:400px;}
.single_page .single_title {
	display:table;
	padding-bottom:10px;
	margin-bottom:20px;
	border-bottom:3px solid #2098dc;
}
.single_page .single_title strong {
	display:table-cell;
	width:550px;
	font-size:24px;
	line-height:1.6em;
	vertical-align:bottom;
}
.single_page .single_title span {
	display:table-cell;
	width:130px;
	text-align:right;
	font-size:12px;
	vertical-align:bottom;
}
.wp-pagenavi {
	margin:50px 0;
	text-align:center;
}

/* 検索結果 */
.archive_page .seach_keywords {
	font-size:140%;
	font-weight:bold;
	margin-bottom:30px;
}
.archive_page .seach_keywords span {	 margin-left:30px;}